# Ignore everything...
*

# Except a few things...
!wiki
!pyproject.toml
!uv.lock
!docker
!manage.py
!package.json
!package-lock.json

# But no matter what, ignore these things.
wiki/assets/media
wiki/assets/static
**/__pycache__
*.env.dev
*.env
