#toc-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#toc-nav ul ul {
  padding-left: 1rem;
}
#toc-nav a.toc-active {
  font-weight: 700;
  color: var(--color-blue-600);
}
@media (prefers-color-scheme: dark) {
  #toc-nav a.toc-active {
    color: var(--color-blue-400);
  }
}
